language: php

dist: trusty
sudo: false

cache:
    directories:
        - vendor

php:
    - 7.3
    - 7.4

# test only master (+ pull requests)
branches:
    only:
        - master

# install dependencies
install:
    - composer install

# execute phpunit as the script command
script:
    - bin/phpunit --colors -c phpunit.xml.dist --coverage-clover=coverage.xml
    - composer psalm

# disable mail notifications
notification:
    email: false

# reduce depth (history) of git checkout
git:
    depth: 30

after_success:
    - bash <(curl -s https://codecov.io/bash)
